
body{
  background: #1b1c1d !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
}

button {
  display: inline-flex;
  justify-content: center;
  border: none;
  padding-top: 2%;
  padding-right:2%;
  padding-left:2%;
  padding-bottom:2%;
  text-align: center;
  margin: 1em;
  text-decoration: none;
  background: #2d3ba6;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  align-content: center;
  align-items: center;
  width: 122px !important;
  border-radius: 26.5px !important;
  border: solid 1px #2d3ba6 !important;
  background-color: #2d3ba6 !important;
}
#map{
  height: 400px !important;
  width:90%!important;
}
.geocoder-icon-close {
  width: 20px;
  height: 20px;
  margin-top: 0px !important;
  margin-right: 0px !important; 
}
.mapboxgl-ctrl-geocoder .geocoder-pin-right > * {
  z-index: 2;
  position: absolute;
  width: 14% !important;
  height: 70% !important;
  right: 8px;
  top: 15% !important;
  border-radius: 50% !important;
  display: none;
}

.mapboxgl-ctrl-geocoder button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: #2d3ba6;
  
}
.mapboxgl-ctrl-bottom-right {
  visibility: hidden;
}
.segment{

  display: flex;
  justify-content: center;
}
.form{
  text-align: center;
}
button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
.nav-link {
  color: white !important;
}
a.item{
  color:white !important;
}
.logo{
  padding: 0px !important;
  margin:0px !important;
}
.ui.menu {
  margin:0px;
  background: transparent;
  color: white;
  z-index: 1;
  position: absolute;
  
  left: 0;
  right: 0;
  border: 0px solid rgba(34,36,38,.15);
  -webkit-box-shadow: 0 0px 0px 0 rgba(34,36,38,.15);
  box-shadow: 0 0px 0px 0 rgba(34,36,38,.15);
}


.logout, .signup {
  width: 122px !important;
  border-radius: 26.5px !important;
  border: solid 1px #2d3ba6 !important;
  background-color: #2d3ba6 !important;
}
.logo{
  width: 10%;
  padding: 0;
}

/* header */
.hero{
  display: flex;
  justify-content: center;
  position: absolute;
  background-size: cover;
  background-image: url(  "../img/garage5.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.heroText{
  padding-top: 30%;
  padding-right:10%;
  padding-left:10%;
  width: 100%;
  height: 190px;
  font-size: 80px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-align: center;
  
  
}
.heroButton{
  padding-top: 15%;
  padding-right:10%;
  padding-left:10%;
  width: 100%;
  font-size: 80px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-align: center;

  
}
.mapboxgl-ctrl-attrib.mapboxgl-compact, .mapboxgl-ctrl-bottom-left{
  display:none;
}

.login{
  z-index: 1;
  position: relative;
  top:4.2em;
}

@media screen and (max-width: 970px){
  .heroText{
    padding-top: 30%;
    padding-right:10%;
    padding-left:10%;
    width: 100%;
    height: 190px;
    font-size: 5rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-align: center;
    
  }
}
@media screen and (max-width: 845px){
  .heroText{
    padding-top: 30%;
    padding-right:10%;
    padding-left:10%;
    width: 100%;
    height: 190px;
    font-size: 4rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-align: center;
    
  }
}

@media screen and (max-width: 670px){
  .heroText{
    padding-top: 25%;
    padding-right:10%;
    padding-left:10%;
    width: 100%;
    height: 190px;
    font-size: 3.5rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-align: center;
    
  }
}