{% extends "layout.html" %} 
{% from 'macros.html' import render_field%}
{% block content %}

<div class="ui inverted segment login">
    <div class="ui inverted form">
      <div class="field">
        <form method="POST" class="form" action="">
      {{ form.hidden_tag() }} 
      <div class="field">
      {{ form.name.label(class_="label")}}
      {{ form.name(class_="input", placeholder=facility.name, id="facilityName")}}
      </div>
      <div class="field">
      {{ form.email.label(class_="label") }}
      {{ form.email(class_="input", placeholder=facility.email, id="facilityEmail")}}
      </div>
      <div class="field">
      {{ form.address.label(class_="label") }}
      {{ form.address(class_="input", placeholder=facility.address, id="facilityAddress")}}
      </div>
      <div class="field">
      {{ form.lat.label(class_="label") }}
      {{ form.lat(class_="input", placeholder=facility.lat, id="facilityLat")}}
      </div>
      <div class="field">
      {{ form.long.label(class_="label") }}
      {{ form.long(class_="input", placeholder=facility.long, id="facilityLong")}}
      </div>
      <div class="row">
          <button class="ui button" type="submit" id="submit"><b>Save</b></button>
        </div>
      </form>
    </div>
  </div>
</div>  
{% endblock %}