{% extends "layout.html" %}
{% from 'macros.html' import render_field%}
{% block content %}
<div class="row ">
  <div class="column selectable login">
    <table class="left aligned  ui selectable inverted table">
  </div>
</div>
<div class="ui centered grid" id="mapButton">
  <div class="one column row">
      <a class="center aligned  item ui secondary  inverted button" href="{{url_for('facilities')}}" title="List View">List View</a>
    </div>
  </div>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.css' type='text/css' />
<style>
#geocoder-container > div {
min-width: 50%;
margin-left: 5%;
}
</style>


<div id='map'></div>


<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicGFyaXN0ZWNocHJvZmlsZSIsImEiOiJjanU4anQ4czcwNGpsM3lwOHVweDQ1cmdkIn0.8i83_Ry2rVNZRQbMjpsnOA';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/paristechprofile/cjud3eo8p0gk91fmwlzshmt27',
  center: [-97.7437,30.2711],
  zoom: 14,
  pitch:15
});
map.on('click', function(e) {
  var features = map.queryRenderedFeatures(e.point, {
    layers: ['parking-spots'] // replace this with the name of the layer
  });

  if (!features.length) {
    return;
  }
  var feature = features[0];
  var popup = new mapboxgl.Popup({ offset: [0, -15] })
    .setLngLat(feature.geometry.coordinates)
    .setHTML('<h3>' + feature.properties.description + '</h3><p>' + '<p>' + feature.properties.place_name  + '</p>' + '<h5>'+  '$' + feature.properties.price + '/month'+ '</h5>')
    .setLngLat(feature.geometry.coordinates)
    .addTo(map);
});

var geocoder = new MapboxGeocoder({
  accessToken: mapboxgl.accessToken,
  marker: {
    color: '#2d3ba6'
  },
  mapboxgl: mapboxgl
  });
map.addControl(geocoder);

</script>
</div>

{% endblock %}