{% extends "layout.html" %}
{% from 'macros.html' import render_field%}
{% block content %}

<div class="ui inverted segment login">
  <div class="ui inverted form">
    <div class="field">
      <form method="POST" class="form" action="">
        {{ form.hidden_tag() }}
          {% for field in form %}
        {% if field.widget.input_type != 'hidden' %} 
        {{ field.label }} 
          {% endif %}  
        {{ render_field(field) }}
          {% endfor %}
          <div class="row">
            <button class="ui button" type="submit" id="submit"><b>Login!</b></button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}