{% macro render_field(field) %}
  <div class="field column macros">
    {% if field.errors %}
      {% for error in field.errors %}
        <div class="notification error">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    {{ field(placeholder=field.label.text) }}
  </div>
{% endmacro %}

{% macro render_field(field) %}
  <div class="field column errors">
    {% if field.errors %}
      {% for error in field.errors %}
        <div class="notification error">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    {{ field(placeholder=field.label.text) }}
  </div>
{% endmacro %}