{% macro render_field(field) %}
  <div class="field column focus macros">
    {% if field.errors %}
      {% for error in field.errors %}
        <div class="ui input notification error ">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    {{ field(placeholder=field.label.text) }}
  </div>
{% endmacro %}

{#{% macro render_field(field) %}
  <div class="focus">
    {% if field.errors %}
      {% for error in field.errors %}
        <div class="notification error">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    {{ field(placeholder=field.label.text) }}
  </div>
{% endmacro %}#}