{% extends "layout.html" %}
{% from 'macros.html' import render_field%}
{% block content %}

<div class="row ">
  <div class="column login">
    <div class="row">
      <div class="column">
    
      </div>
    </div>
    <div class="ui inverted segment">
      <div class="ui inverted form">
        <div class="field">
          <form method="POST" class="form" action="">
            {{ form.hidden_tag() }}
              {% for field in form %}
            {% if field.widget.input_type != 'hidden' %} 
            {{ field.label }} 
              {% endif %}  
            {{ render_field(field) }}
              {% endfor %}
              <div class="row">
                <button type="submit" id="submit">Save</button>
              </div>  
            </form>
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  
        
{% endblock %}
