{% extends "layout.html" %}

{% block content %}
{% if current_user.is_admin %}
<div class="row ">
  <div class="column login">
    <div class="row">
      <div class="column">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class={{category}}>{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
    <div class="right floated">
      <a class="item" href="{{url_for('new_parker')}}" title="Add Parker">Add Parker</a>
    </div>
<table class="ui selectable inverted table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th class="right aligned">Add Vehicle</th>
        <th class="right aligned">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for parker in parkers %}
      <tr>
        <td>{{parker.id}}</td>
        <td>{{parker.name}}</td>
        <td>{{parker.email}}</td>
        <!-- <td>Approved</td> -->
        <td class="right aligned"><a class="item" href="{{url_for('add_vehicle', id=parker.id)}}" title="Add Vehicle">Add Vehicle</a>
          <td class="right aligned"><div><a class="item" href="{{url_for('edit_parkers', id=parker.id)}}" title="Edit Parker">EDIT</a></div><div></div><a class="item" href="{{url_for('delete_parker', id=parker.id)}}" title="Delete Parker">DELETE</a></div></td></td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
  {% else %}
  <div class="">
      <div class="right floated">
        <a class="item" href="{{url_for('new_parker')}}" title="New Parker">Add Parkers</a>
        </div>
    </div>
    <table class="ui selectable inverted table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th class="right aligned">Add Vehicle</th>
            <th class="right aligned">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for parker in parkers %}
          <tr>
            <td>{{parker.id}}</td>
            <td>{{parker.name}}</td>
            <td>{{parker.email}}</td>
            <!-- <td>Approved</td> -->
        <td class="right aligned"><a class="item" href="{{url_for('add_vehicle', id=parker.id)}}" title="Add Vehicle">Add Vehicle</a>
        <td class="right aligned"><div><a class="item" href="{{url_for('edit_parkers', id=parker.id)}}" title="Edit Parker">EDIT</a></div><div></div><a class="item" href="{{url_for('delete_parker', id=parker.id)}}" title="Delete Parker">DELETE</a></div></td></td>
        
        </td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
  {% endif %}
{% endblock %}