{% extends "layout.html" %}
{% from 'macros.html' import render_field%}
{% block content %}
{% if current_user.is_admin %}
<div class="row ">
  <div class="column login">
    <table class="ui selectable inverted table">
      <thead>
        <tr>
          <th class="left aligned unstackable">Id</th>
          <th class="left aligned unstackable">Team</th>
          <th class="left aligned unstackable">Name</th>
          <th class="left aligned unstackable">Email</th>
          <th class="left aligned unstackable"></th>
          <th class="right aligned unstackable"><a class="item ui inverted button" href="{{url_for('new_parker')}}" title="Add Parker">Add Parker</a></th>
        </tr>
      </thead>
      <tbody>
        {% for parker in parkers %}
        <tr>
          <td class="left aligned unstackable">{{parker.id}}</td>
          <td class="left aligned unstackable">{{parker.team_id}}</td>
          <td class="left aligned unstackable">{{parker.name}}</td>
          <td class="left aligned unstackable">{{parker.email}}</td>
          <td class="left aligned unstackable"></td>
          <td class="right aligned"><a class="ui violet inverted button" href="{{url_for('add_vehicle', id=parker.id)}}" title="Add Vehicle">ADD VEHICLE</a> 
          <a class="ui blue inverted button" href="{{url_for('edit_parkers', id=parker.id)}}" title="Edit Parker">EDIT</a> 
          <a class="ui red inverted button" href="{{url_for('delete_parker', id=parker.id)}}" title="Delete Parker">DELETE</a></td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
  </div>  
</div>  
{% else %}
<div class="row ">
  <div class="column login">
    <table class="ui selectable inverted table">
      <thead>
        <tr>
          <th class="right aligned unstackable"><a class="item ui inverted button" href="{{url_for('new_parker')}}" title="Add Parker">Add Parker</a></th>
          <th class="left aligned unstackable">Id</th>
          <th class="left aligned unstackable">Name</th>
          <th class="left aligned unstackable">Email</th>
          <th class="left aligned unstackable"></th>
        </tr>
      </thead>
      <tbody>
        {% for parker in parkers %}
        <tr>
          <td class="left aligned unstackable">{{parker.id}}</td>
          <td class="left aligned unstackable">{{parker.name}}</td>
          <td class="left aligned unstackable">{{parker.email}}</td>
          <td class="left aligned unstackable"></td>
          <td class="right aligned"><a class="ui violet inverted button" href="{{url_for('add_vehicle', id=parker.id)}}" title="Add Vehicle">ADD VEHICLE</a> 
          <a class="ui blue inverted button" href="{{url_for('edit_parkers', id=parker.id)}}" title="Edit Parker">EDIT</a> 
          <a class="ui red inverted button" href="{{url_for('delete_parker', id=parker.id)}}" title="Delete Parker">DELETE</a></td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
  </div>  
</div>  
{% endif %}
{% endblock %}