{% extends "layout.html" %} 
{% from 'macros.html' import render_field%}
{% block content %}

<div class="ui inverted segment login">
    <div class="ui inverted form">
      <div class="field">
        <form method="POST" class="form" action="">
      {{ form.hidden_tag() }} 
      <div class="field">
      {{ form.name.label(class_="label")}}
      {{ form.name(class_="input", placeholder=team.name, id="teamName")}}
      </div>
      <div class="field">
      {{ form.point_of_contact.label(class_="label") }}
      {{ form.point_of_contact(class_="input", placeholder=team.point_of_contact, id="teamPointOfContact")}}
      </div>
      <div class="field">
      {{ form.phone.label(class_="label") }}
      {{ form.phone(class_="input", placeholder=team.phone, id="teamPhone")}}
      </div>
      <div class="field">
      {{ form.email.label(class_="label") }}
      {{ form.email(class_="input", placeholder=team.email, id="teamEmail")}}
      </div>
      <div class="row">
          <button class="ui button" type="submit" id="submit"><b>Save</b></button>
        </div>
      </form>
    </div>
  </div>
</div>  
{% endblock %}

