{% extends "layout.html" %}

{% block content %}
{% if current_user.is_admin %}
<div class="">
  <div class="right floated">
    <a class="item" href="{{url_for('new_team')}}" title="New Team">Add Teams</a>
    </div>
</div>
<table class="ui selectable inverted table">
    <thead>
      <tr>
        <th>Team Id</th>
        <th>Name</th>
        <th>POC</th>
        <th>Phone</th>
        <th>Email</th>
        <!-- <th>Action</th> -->
        <th class="right aligned">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
      <tr>
        <td>{{team.id}}</td>
        <td>{{team.name}}</td>
        <td>{{team.point_of_contact}}</td>
        <td>{{team.phone}}</td>
        <td>{{team.email}}</td>
        <!-- <td>Approved</td> -->
        <td class="right aligned"><div><a class="item" href="{{url_for('edit_teams', id=team.id)}}" title="Edit Team">EDIT</a></div><div><a class="item" href="{{url_for('delete_team', id=team.id)}}" title="Delete Team">DELETE</a></div></td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
  {% endif %}
{% endblock %}